<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMvcAnnotated:war exploded2">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMvcAnnotated_war_exploded2</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMvcAnnotated/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMvcAnnotated" />
        </element>
      </element>
    </root>
  </artifact>
</component>